### Grid Search Implementation using Scikit-learn GridSearchCV

This notebook demonstrates the implementation of Grid Search using Sklearn GridSearchCV method

A RandomForestClassifier is used to train the model while GridSearchCV method of SKlearn was used to tuned it to understand the best hyparameter that produces the best accuracy.

### Import Necessary Libaries

In [4]:
# Import necessary libraries
import pandas as pd
import numpy as np
from pprint import pprint
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, roc_auc_score, accuracy_score

### Dataset Preprocessing

In [5]:
dataset = pd.read_csv('credit-card-full.csv')
dataset.head(10)

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0
5,6,50000,1,1,2,37,0,0,0,0,...,19394,19619,20024,2500,1815,657,1000,1000,800,0
6,7,500000,1,1,2,29,0,0,0,0,...,542653,483003,473944,55000,40000,38000,20239,13750,13770,0
7,8,100000,2,2,2,23,0,-1,-1,0,...,221,-159,567,380,601,0,581,1687,1542,0
8,9,140000,2,3,1,28,0,0,2,0,...,12211,11793,3719,3329,0,432,1000,1000,1000,0
9,10,20000,1,3,2,35,-2,-2,-2,-2,...,0,13007,13912,0,0,0,13007,1122,0,0

In [6]:
#drop personal attributes in dataset
dataset = pd.get_dummies(dataset, columns=['SEX', 'EDUCATION', 'MARRIAGE'], drop_first=True)

X = dataset.drop(['ID', 'default payment next month'], axis=1)
y = dataset['default payment next month']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, shuffle=True)

In [7]:
X.head()

,LIMIT_BAL,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,...,SEX_2,EDUCATION_1,EDUCATION_2,EDUCATION_3,EDUCATION_4,EDUCATION_5,EDUCATION_6,MARRIAGE_1,MARRIAGE_2,MARRIAGE_3
0,20000,24,2,2,-1,-1,-2,-2,3913,3102,...,1,0,1,0,0,0,0,1,0,0
1,120000,26,-1,2,0,0,0,2,2682,1725,...,1,0,1,0,0,0,0,0,1,0
2,90000,34,0,0,0,0,0,0,29239,14027,...,1,0,1,0,0,0,0,0,1,0
3,50000,37,0,0,0,0,0,0,46990,48233,...,1,0,1,0,0,0,0,1,0,0
4,50000,57,-1,0,-1,0,0,0,8617,5670,...,0,0,1,0,0,0,0,1,0,0

In [8]:
y.head()

0    1
1    1
2    0
3    0
4    0
Name: default payment next month, dtype: int64

In [9]:
dataset.head()

,ID,LIMIT_BAL,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,...,SEX_2,EDUCATION_1,EDUCATION_2,EDUCATION_3,EDUCATION_4,EDUCATION_5,EDUCATION_6,MARRIAGE_1,MARRIAGE_2,MARRIAGE_3
0,1,20000,24,2,2,-1,-1,-2,-2,3913,...,1,0,1,0,0,0,0,1,0,0
1,2,120000,26,-1,2,0,0,0,2,2682,...,1,0,1,0,0,0,0,0,1,0
2,3,90000,34,0,0,0,0,0,0,29239,...,1,0,1,0,0,0,0,0,1,0
3,4,50000,37,0,0,0,0,0,0,46990,...,1,0,1,0,0,0,0,1,0,0
4,5,50000,57,-1,0,-1,0,0,0,8617,...,0,0,1,0,0,0,0,1,0,0

## Model Definition

In [10]:
# Create a Random Forest Classifier with specified criterion

rf = RandomForestClassifier()

# Create the parameter grid
param_grid = {
    'max_depth':[2, 4, 8, 15],
    'max_features':['auto', 'sqrt', 'log2'],
    'criterion':['gini', 'entropy', 'log_loss']
}

#Build GridSearchCV object
grid_rf_class = GridSearchCV(
    estimator=rf,
    param_grid = param_grid,
    scoring='roc_auc',
    n_jobs = 4,
    cv = 5,
    refit = True,
    return_train_score = True
)

print(grid_rf_class)

GridSearchCV(cv=5, estimator=RandomForestClassifier(), n_jobs=4,
             param_grid={'criterion': ['gini', 'entropy', 'log_loss'],
                         'max_depth': [2, 4, 8, 15],
                         'max_features': ['auto', 'sqrt', 'log2']},
             return_train_score=True, scoring='roc_auc')

In [11]:
from datetime import datetime, timedelta
start_time = datetime.now()
print("%-20s %s" % ("Start Time", start_time))

grid_rf_class.fit(X_train, y_train)

end_time = datetime.now()
print("%-20s %s" % ("Start Time", start_time))
print("%-20s %s" % ("End Time", end_time))
print(str(timedelta(seconds=(end_time-start_time).seconds)))

Start Time           2023-01-17 17:51:34.014059

C:\Users\Muheeb\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:372: FitFailedWarning:
60 fits failed out of a total of 180.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
60 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\Muheeb\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\Muheeb\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py", line 450, in fit
    trees = Parallel(
  File "C:\Users\Muheeb\anaconda3\lib\site-packages\joblib\parallel.py", line 1043, in __call__
    if self.dispatch_one_batch(iterator):
  File "C:\Users\Muheeb\anaconda3\lib\site-packages\joblib\parallel.py", line 861, in dispatch_one_batch
    self._dispatch(tasks)
  File "C:\Users\Muheeb\anaconda3\lib\site-packages\joblib\parallel.py", line 779, in _dispatch
    job = self._backend.apply_async(batch, callback=cb)
  File "C:\Users\Muheeb\anaconda3\lib\site-packages\joblib\_parallel_backends.py", line 208, in apply_async
    result = ImmediateResult(func)
  File "C:\Users\Muheeb\anaconda3\lib\site-packages\joblib\_parallel_backends.py", line 572, in __init__
    self.results = batch()
  File "C:\Users\Muheeb\anaconda3\lib\site-packages\joblib\parallel.py", line 262, in __call__
    return [func(*args, **kwargs)
  File "C:\Users\Muheeb\anaconda3\lib\site-packages\joblib\parallel.py", line 262, in <listcomp>
    return [func(*args, **kwargs)
  File "C:\Users\Muheeb\anaconda3\lib\site-packages\sklearn\utils\fixes.py", line 216, in __call__
    return self.function(*args, **kwargs)
  File "C:\Users\Muheeb\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py", line 185, in _parallel_build_trees
    tree.fit(X, y, sample_weight=curr_sample_weight, check_input=False)
  File "C:\Users\Muheeb\anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 937, in fit
    super().fit(
  File "C:\Users\Muheeb\anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 352, in fit
    criterion = CRITERIA_CLF[self.criterion](
KeyError: 'log_loss'

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\Muheeb\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:969: UserWarning: One or more of the test scores are non-finite: [0.76517236 0.76354148 0.76427988 0.76981865 0.76995819 0.77004291
 0.7756164  0.77569641 0.77554429 0.77319834 0.77422179 0.77425932
 0.76452153 0.76479018 0.76386522 0.76907119 0.76963937 0.76919631
 0.77677982 0.77614446 0.77594273 0.77750849 0.77542715 0.77754076
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan]
  warnings.warn(
C:\Users\Muheeb\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:969: UserWarning: One or more of the train scores are non-finite: [0.76775621 0.76637351 0.76715492 0.77596219 0.77606801 0.77626941
 0.8240431  0.82490069 0.82450895 0.97394711 0.97377765 0.97329232
 0.7671655  0.76716704 0.76709479 0.77629058 0.77659803 0.77625506
 0.82706699 0.82779217 0.82507863 0.97467023 0.97482035 0.97406974
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan]
  warnings.warn(

Start Time           2023-01-17 17:51:34.014059
End Time             2023-01-17 17:57:23.283812
0:05:49

In [12]:
cv_results_df = pd.DataFrame(grid_rf_class.cv_results_)
print(cv_results_df)

    mean_fit_time  std_fit_time  mean_score_time  std_score_time  \
0        2.436381      0.134584         0.102204        0.010903
1        2.355999      0.141299         0.113198        0.029821
2        2.195596      0.084444         0.101802        0.021929
3        3.977884      0.156796         0.167505        0.035916
4        3.866335      0.268256         0.129202        0.019362
5        3.287163      0.229740         0.151208        0.030389
6        6.914326      0.094755         0.196806        0.030486
7        7.370319      0.463633         0.212919        0.048188
8        6.893634      0.585031         0.211201        0.046238
9       10.411196      0.869213         0.281808        0.055340
10      15.047590      0.861966         0.443404        0.138153
11      10.972789      0.343521         0.315600        0.106520
12       3.700793      0.307875         0.160004        0.049458
13       3.746806      0.427284         0.131595        0.062569
14       3.523990      0.314921         0.180602        0.036256
15       6.634596      0.309220         0.200210        0.065958
16       5.512994      0.102609         0.107802        0.017038
17       4.471390      0.206310         0.165198        0.062801
18       7.473997      0.684294         0.124201        0.011250
19       7.957401      1.151025         0.216200        0.117734
20       7.331393      0.139745         0.157000        0.050409
21      13.903386      0.189180         0.190000        0.027132
22      11.834998      0.485477         0.183602        0.024071
23       9.322544      0.113254         0.168001        0.017842
24       0.119597      0.009914         0.000000        0.000000
25       0.128198      0.008703         0.000000        0.000000
26       0.106398      0.007060         0.000000        0.000000
27       0.109192      0.007356         0.000000        0.000000
28       0.122994      0.012086         0.000000        0.000000
29       0.115195      0.012127         0.000000        0.000000
30       0.110197      0.014079         0.000000        0.000000
31       0.104595      0.004542         0.000000        0.000000
32       0.104393      0.001018         0.000000        0.000000
33       0.112445      0.009841         0.000000        0.000000
34       0.108841      0.006107         0.000000        0.000000
35       0.104796      0.000400         0.000000        0.000000

   param_criterion param_max_depth param_max_features  \
0             gini               2               auto
1             gini               2               sqrt
2             gini               2               log2
3             gini               4               auto
4             gini               4               sqrt
5             gini               4               log2
6             gini               8               auto
7             gini               8               sqrt
8             gini               8               log2
9             gini              15               auto
10            gini              15               sqrt
11            gini              15               log2
12         entropy               2               auto
13         entropy               2               sqrt
14         entropy               2               log2
15         entropy               4               auto
16         entropy               4               sqrt
17         entropy               4               log2
18         entropy               8               auto
19         entropy               8               sqrt
20         entropy               8               log2
21         entropy              15               auto
22         entropy              15               sqrt
23         entropy              15               log2
24        log_loss               2               auto
25        log_loss               2               sqrt
26        log_loss               2               log2
27        log_loss               4               auto
28        log_loss               4               sqrt
29        log_loss               4               log2
30        log_loss               8               auto
31        log_loss               8               sqrt
32        log_loss               8               log2
33        log_loss              15               auto
34        log_loss              15               sqrt
35        log_loss              15               log2

                                               params  split0_test_score  \
0   {'criterion': 'gini', 'max_depth': 2, 'max_fea...           0.779444
1   {'criterion': 'gini', 'max_depth': 2, 'max_fea...           0.776642
2   {'criterion': 'gini', 'max_depth': 2, 'max_fea...           0.780319
3   {'criterion': 'gini', 'max_depth': 4, 'max_fea...           0.784605
4   {'criterion': 'gini', 'max_depth': 4, 'max_fea...           0.785441
5   {'criterion': 'gini', 'max_depth': 4, 'max_fea...           0.783925
6   {'criterion': 'gini', 'max_depth': 8, 'max_fea...           0.788845
7   {'criterion': 'gini', 'max_depth': 8, 'max_fea...           0.788417
8   {'criterion': 'gini', 'max_depth': 8, 'max_fea...           0.789377
9   {'criterion': 'gini', 'max_depth': 15, 'max_fe...           0.784506
10  {'criterion': 'gini', 'max_depth': 15, 'max_fe...           0.786160
11  {'criterion': 'gini', 'max_depth': 15, 'max_fe...           0.783350
12  {'criterion': 'entropy', 'max_depth': 2, 'max_...           0.778157
13  {'criterion': 'entropy', 'max_depth': 2, 'max_...           0.780415
14  {'criterion': 'entropy', 'max_depth': 2, 'max_...           0.777020
15  {'criterion': 'entropy', 'max_depth': 4, 'max_...           0.783415
16  {'criterion': 'entropy', 'max_depth': 4, 'max_...           0.784958
17  {'criterion': 'entropy', 'max_depth': 4, 'max_...           0.783981
18  {'criterion': 'entropy', 'max_depth': 8, 'max_...           0.791528
19  {'criterion': 'entropy', 'max_depth': 8, 'max_...           0.787566
20  {'criterion': 'entropy', 'max_depth': 8, 'max_...           0.788450
21  {'criterion': 'entropy', 'max_depth': 15, 'max...           0.788995
22  {'criterion': 'entropy', 'max_depth': 15, 'max...           0.787401
23  {'criterion': 'entropy', 'max_depth': 15, 'max...           0.790771
24  {'criterion': 'log_loss', 'max_depth': 2, 'max...                NaN
25  {'criterion': 'log_loss', 'max_depth': 2, 'max...                NaN
26  {'criterion': 'log_loss', 'max_depth': 2, 'max...                NaN
27  {'criterion': 'log_loss', 'max_depth': 4, 'max...                NaN
28  {'criterion': 'log_loss', 'max_depth': 4, 'max...                NaN
29  {'criterion': 'log_loss', 'max_depth': 4, 'max...                NaN
30  {'criterion': 'log_loss', 'max_depth': 8, 'max...                NaN
31  {'criterion': 'log_loss', 'max_depth': 8, 'max...                NaN
32  {'criterion': 'log_loss', 'max_depth': 8, 'max...                NaN
33  {'criterion': 'log_loss', 'max_depth': 15, 'ma...                NaN
34  {'criterion': 'log_loss', 'max_depth': 15, 'ma...                NaN
35  {'criterion': 'log_loss', 'max_depth': 15, 'ma...                NaN

    split1_test_score  ...  mean_test_score  std_test_score  rank_test_score  \
0            0.770283  ...         0.765172        0.009238               19
1            0.768465  ...         0.763541        0.008305               24
2            0.767677  ...         0.764280        0.009645               22
3            0.773826  ...         0.769819        0.008558               15
4            0.773089  ...         0.769958        0.008904               14
5            0.774173  ...         0.770043        0.008394               13
6            0.778675  ...         0.775616        0.007569                7
7            0.777239  ...         0.775696        0.007100                6
8            0.776306  ...         0.775544        0.007295                8
9            0.769461  ...         0.773198        0.006019               12
10           0.770455  ...         0.774222        0.006299               11
11           0.770914  ...         0.774259        0.005006               10
12           0.767592  ...         0.764522        0.007924               21
13           0.766403  ...         0.764790        0.009074               20
14           0.767214  ...         0.763865        0.008482               23
15           0.772105  ...         0.769071        0.008455               18
16           0.773425  ...         0.769639        0.008946               16
17           0.771767  ...         0.769196        0.008252               17
18           0.777068  ...         0.776780        0.007696                3
19           0.776779  ...         0.776144        0.006207                4
20           0.776677  ...         0.775943        0.006758                5
21           0.772819  ...         0.777508        0.006036                2
22           0.769245  ...         0.775427        0.006693                9
23           0.773215  ...         0.777541        0.007109                1
24                NaN  ...              NaN             NaN               34
25                NaN  ...              NaN             NaN               33
26                NaN  ...              NaN             NaN               32
27                NaN  ...              NaN             NaN               30
28                NaN  ...              NaN             NaN               35
29                NaN  ...              NaN             NaN               29
30                NaN  ...              NaN             NaN               28
31                NaN  ...              NaN             NaN               27
32                NaN  ...              NaN             NaN               26
33                NaN  ...              NaN             NaN               25
34                NaN  ...              NaN             NaN               31
35                NaN  ...              NaN             NaN               36

    split0_train_score  split1_train_score  split2_train_score  \
0             0.765250            0.767211            0.768892
1             0.761772            0.766080            0.768164
2             0.764833            0.765086            0.767982
3             0.772493            0.775793            0.778124
4             0.773016            0.775510            0.777397
5             0.772671            0.775741            0.778296
6             0.823599            0.826047            0.822886
7             0.824218            0.826482            0.824784
8             0.823175            0.825895            0.824191
9             0.973730            0.975344            0.974364
10            0.974776            0.976808            0.973944
11            0.974080            0.974367            0.974427
12            0.764058            0.766530            0.769284
13            0.765046            0.765211            0.770286
14            0.764248            0.766184            0.770227
15            0.774068            0.775503            0.777917
16            0.773732            0.776287            0.777299
17            0.773544            0.776192            0.778247
18            0.825716            0.829651            0.826323
19            0.827082            0.829835            0.827083
20            0.823849            0.828119            0.823595
21            0.974959            0.975811            0.974551
22            0.975779            0.976447            0.973312
23            0.972874            0.976928            0.972300
24                 NaN                 NaN                 NaN
25                 NaN                 NaN                 NaN
26                 NaN                 NaN                 NaN
27                 NaN                 NaN                 NaN
28                 NaN                 NaN                 NaN
29                 NaN                 NaN                 NaN
30                 NaN                 NaN                 NaN
31                 NaN                 NaN                 NaN
32                 NaN                 NaN                 NaN
33                 NaN                 NaN                 NaN
34                 NaN                 NaN                 NaN
35                 NaN                 NaN                 NaN

    split3_train_score  split4_train_score  mean_train_score  std_train_score
0             0.768718            0.768710          0.767756         0.001393
1             0.768826            0.767025          0.766374         0.002486
2             0.768964            0.768909          0.767155         0.001828
3             0.777462            0.775939          0.775962         0.001949
4             0.777734            0.776682          0.776068         0.001706
5             0.777527            0.777113          0.776269         0.001981
6             0.823953            0.823730          0.824043         0.001064
7             0.824240            0.824780          0.824901         0.000828
8             0.826222            0.823062          0.824509         0.001329
9             0.975231            0.971067          0.973947         0.001557
10            0.973941            0.969419          0.973778         0.002418
11            0.972971            0.970617          0.973292         0.001437
12            0.770128            0.765828          0.767166         0.002241
13            0.768967            0.766325          0.767167         0.002098
14            0.767768            0.767046          0.767095         0.001960
15            0.777333            0.776632          0.776291         0.001372
16            0.778559            0.777113          0.776598         0.001607
17            0.778297            0.774996          0.776255         0.001848
18            0.827793            0.825853          0.827067         0.001487
19            0.828040            0.826921          0.827792         0.001095
20            0.824664            0.825166          0.825079         0.001621
21            0.974642            0.973388          0.974670         0.000780
22            0.975243            0.973321          0.974820         0.001286
23            0.975185            0.973062          0.974070         0.001731
24                 NaN                 NaN               NaN              NaN
25                 NaN                 NaN               NaN              NaN
26                 NaN                 NaN               NaN              NaN
27                 NaN                 NaN               NaN              NaN
28                 NaN                 NaN               NaN              NaN
29                 NaN                 NaN               NaN              NaN
30                 NaN                 NaN               NaN              NaN
31                 NaN                 NaN               NaN              NaN
32                 NaN                 NaN               NaN              NaN
33                 NaN                 NaN               NaN              NaN
34                 NaN                 NaN               NaN              NaN
35                 NaN                 NaN               NaN              NaN

[36 rows x 23 columns]

## Viewing the best parameter for the model

In [13]:
best_score = grid_rf_class.best_score_
print('Best Score obtained by the Parameters', best_score)

# Create a variable from the row related to the best-performing square
cv_results_df = pd.DataFrame(grid_rf_class.cv_results_)
best_row = cv_results_df.loc[[grid_rf_class.best_index_]]
print("\n", best_row)

Best Score obtained by the Parameters 0.7775407642607253

     mean_fit_time  std_fit_time  mean_score_time  std_score_time  \
23       9.322544      0.113254         0.168001        0.017842

   param_criterion param_max_depth param_max_features  \
23         entropy              15               log2

                                               params  split0_test_score  \
23  {'criterion': 'entropy', 'max_depth': 15, 'max...           0.790771

    split1_test_score  ...  mean_test_score  std_test_score  rank_test_score  \
23           0.773215  ...         0.777541        0.007109                1

    split0_train_score  split1_train_score  split2_train_score  \
23            0.972874            0.976928              0.9723

    split3_train_score  split4_train_score  mean_train_score  std_train_score
23            0.975185            0.973062           0.97407         0.001731

[1 rows x 23 columns]

In [18]:
# Get the max_depth parameter from the best-performing square and print
best_max_depth = grid_rf_class.best_params_['max_depth']
print("\n", best_max_depth)

# Row 23 and max _depth 15 gives the best accuracy

best_max_features = grid_rf_class.best_params_['max_features']
print(best_max_features)

 15
log2

In [15]:
print(type(grid_rf_class.best_estimator_))

# Create an array of predictions directly using the best_estimator_property
predictions = grid_rf_class.best_estimator_.predict(X_test)

#view result
print(predictions[0:5])

#show result in confusion matrix
print("Confusion Matrix \n", confusion_matrix(y_test, predictions))

# Get the ROC-AUC score
predictions_proba = grid_rf_class.best_estimator_.predict_proba(X_test)[:, 1]
print("ROC-AUC Score \n", roc_auc_score(y_test, predictions_proba))

print("Accuracy Score \n", accuracy_score(y_test, predictions))

<class 'sklearn.ensemble._forest.RandomForestClassifier'>
[0 0 1 0 0]
Confusion Matrix
 [[6692  328]
 [1286  694]]
ROC-AUC Score
 0.7845121082621083
Accuracy Score
 0.8206666666666667